:root {
  --color-section-1: #111111;
  --color-section-2: #222222;
  --color-section-3: #444444;
  --color-stroke-4: #000000;
  --color-stroke-5: #101010;
  --color-stroke-6: #555555;
  --color-stroke-7: #666666;
  --color-stroke-8: #757575;
  --color-stroke-9: #777777;
  --color-stroke-10: #8a38f5;
  --color-stroke-11: #9747ff;
  --color-stroke-12: #999999;
  --color-stroke-13: #aaaaaa;
  --color-stroke-14: #cccccc;
  --color-stroke-15: #dddddd;
  --color-stroke-16: #e6e6e6;
  --color-stroke-17: #e8e8e8;
  --color-stroke-18: #ececec;
  --color-stroke-19: #eeeeee;
  --color-stroke-20: #f04437;
  --color-stroke-21: #f0f0f0;
  --color-stroke-22: #f6f6f6;
  --color-stroke-23: #ff2058;
  --color-stroke-24: #ff421b;
  --color-stroke-25: #ff4d00;
  --color-stroke-26: #ff5a38;
  --color-stroke-27: #ffffff;
  --color-frame-28: #000000;
  --color-frame-29: #101010;
  --color-frame-30: #111111;
  --color-frame-31: #222222;
  --color-frame-32: #2d92f1;
  --color-frame-33: #2d92f2;
  --color-frame-34: #333333;
  --color-frame-35: #373737;
  --color-frame-36: #555555;
  --color-frame-37: #58a5ef;
  --color-frame-38: #5f5f5f;
  --color-frame-39: #667bff;
  --color-frame-40: #8346fd;
  --color-frame-41: #84b8df;
  --color-frame-42: #aaaaaa;
  --color-frame-43: #cccccc;
  --color-frame-44: #dddddd;
  --color-frame-45: #e8e8e8;
  --color-frame-46: #ead3ff;
  --color-frame-47: #eaeaea;
  --color-frame-48: #efe0ff;
  --color-frame-49: #f0e0ff;
  --color-frame-50: #f3f5f7;
  --color-frame-51: #f6edff;
  --color-frame-52: #f6f6f6;
  --color-frame-53: #ff1f57;
  --color-frame-54: #ff2058;
  --color-frame-55: #ff3265;
  --color-frame-56: #ff421b;
  --color-frame-57: #fff2e5;
  --color-frame-58: #fff4f4;
  --color-frame-59: #fff7f2;
  --color-frame-60: #fff7f7;
  --color-frame-61: #ffffff;
  --color-text-62: #000000;
  --color-text-63: #010101;
  --color-text-64: #020214;
  --color-text-65: #110000;
  --color-text-66: #111111;
  --color-text-67: #12b669;
  --color-text-68: #191933;
  --color-text-69: #333333;
  --color-text-70: #33334c;
  --color-text-71: #3d69d6;
  --color-text-72: #555555;
  --color-text-73: #666666;
  --color-text-74: #777777;
  --color-text-75: #7f1919;
  --color-text-76: #888888;
  --color-text-77: #999999;
  --color-text-78: #a18798;
  --color-text-79: #a77f94;
  --color-text-80: #aaaaaa;
  --color-text-81: #b3b3b3;
  --color-text-82: #bbbbbb;
  --color-text-83: #cccccc;
  --color-text-84: #dddddd;
  --color-text-85: #e8e8e8;
  --color-text-86: #ee4a03;
  --color-text-87: #f04437;
  --color-text-88: #ff0000;
  --color-text-89: #ff4d00;
  --color-text-90: #ffffff;
  --color-ellipse-91: #000000;
  --color-ellipse-92: #777777;
  --color-ellipse-93: #999999;
  --color-ellipse-94: #aaaaaa;
  --color-ellipse-95: #dcc1f5;
  --color-ellipse-96: #eaeaea;
  --color-ellipse-97: #fe467c;
  --color-ellipse-98: #ff0000;
  --color-ellipse-99: #ff1d77;
  --color-ellipse-100: #ff2058;
  --color-ellipse-101: #ff421b;
  --color-ellipse-102: #ffe8e4;
  --color-ellipse-103: #ffffff;
  --color-vector-104: #000000;
  --color-vector-105: #111111;
  --color-vector-106: #12b669;
  --color-vector-107: #319f43;
  --color-vector-108: #333333;
  --color-vector-109: #34a853;
  --color-vector-110: #4285f4;
  --color-vector-111: #555555;
  --color-vector-112: #587dbd;
  --color-vector-113: #666666;
  --color-vector-114: #777777;
  --color-vector-115: #999999;
  --color-vector-116: #aaaaaa;
  --color-vector-117: #cccccc;
  --color-vector-118: #d9d9d9;
  --color-vector-119: #dddddd;
  --color-vector-120: #e33629;
  --color-vector-121: #ea4335;
  --color-vector-122: #f6f6f6;
  --color-vector-123: #f8bd00;
  --color-vector-124: #fbbc05;
  --color-vector-125: #fde030;
  --color-vector-126: #ff2058;
  --color-vector-127: #ff421b;
  --color-vector-128: #ff4d00;
  --color-vector-129: #ffffff;
  --color-instance-130: #000000;
  --color-instance-131: #555555;
  --color-instance-132: #fff7f4;
  --color-instance-133: #ffffff;
  --color-group-134: #ffffff;
  --color-boolean_operation-135: #000000;
  --color-boolean_operation-136: #333333;
  --color-boolean_operation-137: #999999;
  --color-boolean_operation-138: #aaaaaa;
  --color-boolean_operation-139: #cccccc;
  --color-boolean_operation-140: #d9d9d9;
  --color-boolean_operation-141: #ff4d00;
  --color-boolean_operation-142: #ffffff;
  --color-rectangle-143: #000000;
  --color-rectangle-144: #333333;
  --color-rectangle-145: #999999;
  --color-rectangle-146: #c4c4c4;
  --color-rectangle-147: #cccccc;
  --color-rectangle-148: #d9d9d9;
  --color-rectangle-149: #dddddd;
  --color-rectangle-150: #e8e8e8;
  --color-rectangle-151: #e9510f;
  --color-rectangle-152: #f6f6f6;
  --color-rectangle-153: #ff4d00;
  --color-rectangle-154: #ffffff;
  --color-shadow-155: #d5d5d5;
  --color-shadow-156: rgba(0, 0, 0, 0.05);
  --color-shadow-157: rgba(0, 0, 0, 0.70);
  --color-component-158: #111111;
  --color-component-159: #333333;
  --color-component-160: #555555;
  --color-component-161: #9f3737;
  --color-component-162: #f3f3f3;
  --color-component-163: #fff7f4;
  --color-component-164: #ffffff;
  --color-regular_polygon-165: #00aaff;
  --font-family-1: Funnel Display;
  --font-family-2: Guthen Jaqueline;
  --font-family-3: Inter;
  --font-family-4: LINE Seed Sans KR;
  --font-family-5: NN Didot Modern STD;
  --font-family-6: Outfit;
  --font-family-7: PP Pangram Sans;
  --font-family-8: Poppins;
  --font-family-9: Pretendard;
  --font-family-10: SF Pro Text;
  --font-family-11: SUIT;
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;
  --font-weight-4: 700;
  --font-size-1: 10.0px;
  --font-size-2: 11.0px;
  --font-size-3: 12.0px;
  --font-size-4: 13.0px;
  --font-size-5: 14.0px;
  --font-size-6: 15.0px;
  --font-size-7: 16.0px;
  --font-size-8: 17.0px;
  --font-size-9: 18.0px;
  --font-size-10: 20.0px;
  --font-size-11: 22.0px;
  --font-size-12: 24.0px;
  --font-size-13: 25.0px;
  --font-size-14: 26.0px;
  --font-size-15: 28.0px;
  --font-size-16: 30.0px;
  --font-size-17: 32.0px;
  --font-size-18: 36.0px;
  --font-size-19: 40.0px;
  --font-size-20: 50.0px;
  --font-size-21: 60.0px;
  --font-size-22: 80.0px;
  --spacing-padding-1: 2.0px;
  --spacing-padding-2: 4.0px;
  --spacing-padding-3: 6.0px;
  --spacing-padding-4: 8.0px;
  --spacing-padding-5: 9.0px;
  --spacing-padding-6: 10.0px;
  --spacing-padding-7: 12.0px;
  --spacing-padding-8: 15.0px;
  --spacing-padding-9: 16.0px;
  --spacing-padding-10: 17.0px;
  --spacing-padding-11: 19.0px;
  --spacing-padding-12: 20.0px;
  --spacing-padding-13: 24.0px;
  --spacing-padding-14: 25.0px;
  --spacing-padding-15: 27.0px;
  --spacing-padding-16: 30.0px;
  --spacing-padding-17: 32.0px;
  --spacing-padding-18: 35.0px;
  --spacing-padding-19: 40.0px;
  --spacing-padding-20: 50.0px;
  --spacing-padding-21: 58.0px;
  --spacing-padding-22: 60.0px;
  --spacing-padding-23: 64.0px;
  --spacing-padding-24: 80.0px;
  --spacing-padding-25: 130.0px;
  --spacing-padding-26: 160.0px;
  --spacing-item-1: -62.400001525878906px;
  --spacing-item-2: -12.0px;
  --spacing-item-3: 1.5px;
  --spacing-item-4: 2.0px;
  --spacing-item-5: 3.0px;
  --spacing-item-6: 4.0px;
  --spacing-item-7: 5.0px;
  --spacing-item-8: 6.0px;
  --spacing-item-9: 7.0px;
  --spacing-item-10: 8.0px;
  --spacing-item-11: 10.0px;
  --spacing-item-12: 12.0px;
  --spacing-item-13: 15.0px;
  --spacing-item-14: 16.0px;
  --spacing-item-15: 20.0px;
  --spacing-item-16: 24.0px;
  --spacing-item-17: 25.0px;
  --spacing-item-18: 30.0px;
  --spacing-item-19: 32.0px;
  --spacing-item-20: 37.0px;
  --spacing-item-21: 40.0px;
  --spacing-item-22: 50.0px;
  --spacing-item-23: 53.0px;
  --spacing-item-24: 60.0px;
  --spacing-item-25: 63.0px;
  --spacing-item-26: 64.0px;
  --spacing-item-27: 80.0px;
  --spacing-item-28: 100.0px;
  --spacing-item-29: 135.0px;
  --spacing-item-30: 150.0px;
  --spacing-item-31: 153.0px;
  --spacing-item-32: 205.0px;
  --spacing-item-33: 560.0px;
}